.App {
  text-align: center;
  font-family: Arial, sans-serif;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

.version {
  display: flex;
  justify-content: end;
}

.vehicle-form,
.vehicle-form-ymm,
.vehicle-form-models,
.vehicle-form-make-codes {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin: 1rem 0;
}

.vehicle-form input,
.vehicle-form-ymm input,
.vehicle-form-models input,
.vehicle-form-make-codes input {
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1rem;
  width: 300px;
}

.vehicle-form button,
.vehicle-form-ymm button,
.vehicle-form-models button,
.vehicle-form-make-codes button {
  padding: 0.5rem;
  background-color: #61dafb;
  border: none;
  border-radius: 5px;
  color: black;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s;
}

.vehicle-form button:hover,
.vehicle-form-ymm button:hover,
.vehicle-form-models button:hover,
.vehicle-form-make-codes button:hover {
  background-color: #21a1f1;
} {
  background-color: #21a1f1;
}



.vehicle-year,
.vehicle-make,
.vehicle-model,
.vehicle-colors,
.vehicle-data {
  margin-top: 2rem;
  text-align: left;
  background-color: #1c2025;
  padding: 1rem;
  border-radius: 5px;
  color: #eee;
  overflow-x: auto;
}

.vehicle-year pre,
.vehicle-make pre,
.vehicle-model pre,
.vehicle-colors pre,
.vehicle-data pre {
  font-family: "Courier New", Courier, monospace;
}